<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="text-brown">Categories</h2>
  <div class="filter-section">
    <input type="text" class="form-control" placeholder="Chercher une catégorie par nom" [(ngModel)]="searchTerm" (input)="applyFilter()">
    <input type="date" [(ngModel)]="createdAfter" (change)="applyFilter()" placeholder="Created after">
    <input type="date" [(ngModel)]="createdBefore" (change)="applyFilter()" placeholder="Created before">
    <select [(ngModel)]="isRoot" (change)="applyFilter()">
      <option [ngValue]="null">Toutes les Catégories</option>
      <option [ngValue]="true">Catégories parentes</option>
      <option [ngValue]="false">Catégories enfants</option>
    </select>
    <button class="btn btn-secondary" (click)="resetFilters()">Remettre à zéro les filtres</button>
  </div>
  <a class="button bg-offwhite-second hover-brown text-white" routerLink="/addcategory">Ajouter</a>
</div>

<div *ngIf="categories.length > 0" class="border-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="w-15 sortable" (click)="sortBy('name')">Nom {{getSortIcon('name')}}</th>
        <th>Parent</th>
        <th class="sortable" (click)="sortBy('creationDate')">Date de création {{getSortIcon('creationDate')}}</th>
        <th>Catégories enfants</th>
        <th class="sortable" (click)="sortBy('numberOfChildren')">Nombre de catégories enfants {{getSortIcon('numberOfChildren')}}</th>
        <th>Details</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td><span>{{category.name}}</span></td>
        <td>{{category.parentCategory ? category.parentCategory.name : '/'}}</td>
        <td>{{category.creationDate | date:'dd-MM-yyyy'}}</td>
        <td>
          <ul *ngIf="category.children && category.children.length > 0">
            <li *ngFor="let child of category.children">{{child.name}}</li>
          </ul>
          <span *ngIf="!category.children || category.children.length === 0">Pas d'enfants</span>
        </td>
        <td>{{category.numberOfChildren}}</td>
        <td>
          <a [routerLink]="['/categories', category.id]" class="btn btn-primary">Details</a>
        </td>
        <td>
          <a [routerLink]="['/update', category.id]" class="btn btn-success">Modifier</a>
        </td>
        <td>
          <button (click)="deleteCategory(category.id)" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="categories.length === 0">
  <p>Auccune catégorie trouvée</p>
</div>