<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="text-brown">Categories</h2>
  
  <!-- Input pour la recherche -->
  <input type="text" class="form-control w-25" placeholder="Search Categories..." [(ngModel)]="searchTerm" />

  <!-- Menu déroulant pour les filtres -->
  <select class="form-select w-25 ms-2" [(ngModel)]="selectedFilter" >
    <option value="">-- Filter by --</option>
    <option value="date">Date</option>
    <option value="alphabet">Alphabet</option>
    <!-- Ajoutez d'autres options de filtre si nécessaire -->
  </select>
  <a class="button bg-offwhite-second hover-brown text-white" routerLink="/addcategorie">Add</a>
</div>

<!-- Tableau des catégories -->
<div *ngIf="categories.length > 0" class="border-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="w-15">Name</th>
        <th>Parent</th>
        <th>Date of creation</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of filteredCategories()">
        <td><span>{{s.name}}</span></td>
        <td>{{s.parent}}</td>
        <td>{{s.date}}</td>
        <td>
          <a routerLink="" class="btn btn-primary">Details</a>
        </td>
        <td>
          <a routerLink="" class="btn btn-success">Edit</a>
        </td>
        <td>
          <a (click)="deleteCategorie(s.id)" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="categories.length === 0">
  <p>No categories available.</p>
</div>
