<div class="p-3">
  <form class="w-75 m-auto" [formGroup]="categorieForm" (ngSubmit)="submitAdd()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input formControlName='name' type="text" id="name" class="form-control">
      <span *ngIf="controls['name'].touched && controls['name'].invalid">Not valid</span>
    </div>
    <div class="mb-3">
      <label for="parent" class="form-label">Parent Category</label>
      <select formControlName="parent" id="parent" class="form-control">
        <option value="">-- Select Parent Category --</option>
        <option *ngFor="let category of parentCategories" [value]="category.id">
          {{category.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="button bg-second-brown text-white">Add</button>
  </form>
</div>