<div class="container-fluid bg-brown text-offwhite shadow px-2 py-3 parent">
    <div class="container d-flex justify-content-between align-items-center">
      <div>
        <a routerLink="/">
          <h1 class="mb-0 d-flex align-items-center"style="font-size: 30px;">
            <img src="icon.png" alt="icon" class="me-2" style="width: 42px; height: 42px;"> ategory
          </h1>
        </a>
      </div>
      <div class="d-flex gap-4">
        <a class="button bg-offwhite-second hover-brown text-white" routerLink="/addcategorie">Add</a>
        <a class="button bg-offwhite-second hover-brown text-white" routerLink="categories">Déconnexion</a>
      </div>
    </div>
  </div>
  